<div class="centered-v-h">
  <div id="row">
    <md-input-container>
      <input mdInput placeholder="Username" #usernameInput />
    </md-input-container>
  </div>
  <div id="row">
    <md-input-container>
      <input mdInput placeholder="Password" type="password" #passwordInput />
    </md-input-container>
  </div>
  <div id="row">
    <md-input-container>
      <input mdInput placeholder="API-URL" type="text" [value]="getApiUrl()" #apiUrlInput />
    </md-input-container>
  </div>
  <div id="row">
    <button md-raised-button (click)="login(usernameInput.value, passwordInput.value, apiUrlInput.value)">Login</button>
  </div>
</div>
