<div class="centered-v-h">
  <div class="row">
    <md-input-container>
      <input mdInput class="loginInput" placeholder="Username" #usernameInput />
    </md-input-container>
  </div>
  <div class="row">
    <md-input-container>
      <input mdInput class="loginInput" placeholder="Password" type="password" #passwordInput />
    </md-input-container>
  </div>
  <div class="row">
    <md-input-container>
      <input mdInput class="loginInput" placeholder="API-URL" type="text" [value]="getApiUrl()" #apiUrlInput />
    </md-input-container>
  </div>
  <div class="row">
    <button md-raised-button (click)="login(usernameInput.value, passwordInput.value, apiUrlInput.value)">Login</button>
    <button id="offlineButton" md-raised-button (click)="offline()">Use Offline</button>
  </div>
  <div class="row">
    Version: BETA 0.1
  </div>
</div>
